.modal {
  width: 100%;
  background: white;
  border-radius: 4px;
  height: auto;
  border: 1px solid #e1e3e7;
  box-shadow: 0 2px 4px 0 rgba(15, 15, 15, 0.1),
    0 0 0 1px rgba(15, 15, 15, 0.06);
  margin-top: 40px;
}
