.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;

  .side-section {
    width: 18%;
    border-right: 2px solid #e9e9ea;
  }

  .main-section {
    width: 82%;

    .container {
      height: 100%;
      width: 82%;
      margin: auto;
    }
  }
}
